@font-face {
  font-family: 'font1';
  src: url('font1.woff') format('woff');
  font-weight: 300;
  font-style: normal;
} 

html {
  background:#25315a;
  /* #180C24 */
}

body {
  font-family: font1, Helvetica, Ubuntu, Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif;
  letter-spacing: 0.1pt;
}

a {
	color: #90ee90;
	text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}

.main-table > tr:nth-child(odd){
  background: #252e4f;
  /*  #141d3d #20152B */
}

.main-table > tr:nth-child(even){
  background: #3c4564;;
    /* #180C24 */
}

.main-table{	
  border: solid 0.3px #141d3d;
  /* #382C44 */
  margin: 0px;
}

.main-table td{
  padding: 2px 5px;
}

.main-table > tr > td:first-child{
  width: 150px;
}

.brighter{
  background: #281C34;  
}

.padding-top{
  padding-top: 15px;
}

.queried{
  background:rgba(255,255,255,0.5);
}

.padding-right{
  padding-right: 5px;
}


.number-table{
  padding: 0px;
}

.number-table td{
  border-left: solid 0.3px  #141d3d;
  /* #382C44 */
}

.number-table td:first-child{
  text-align: right;
  border-left: none;
  padding-left: 0px;
}

.number-table-header{
  border-bottom: solid 0.3px #141d3d;
  /* #382C44 */
}

.number-table-header td:first-child{
  text-align: center;
}

h1{
  font-size: larger;
}

h4{
  font-size: large;
}

em{
  color: #66ffff;
  font-style: normal;  
}

h1{
  font-size: 24pt;
}

h1, h4{
  border-bottom: solid 1px #8dc9ec; 
  /* #483C54 */
  margin: 10px 0px;
  color: white;
  /* #aaffff */
}

.table-header{
  color: #66ffff;
  background: #141d3d; 
  /* #483C54 */
  text-align: center;
  font-size: larger;
}

.table-subheader{
  color: white;
  background: #141d3d;
  /* #382C44 */
  text-align: center;
}

.article-text {
  padding: 5px 0px 5px 5px;
  max-width: 800px;
}


.flex-horisontal{
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-horisontal > *{
  margin: 1px;
}

.flex-vertical{
  display: flex vertical;
  align-items: stretch;
  justify-content: flex-start;
}

input::placeholder { 
  color: green; 
} 

.cols {
  columns: 250px;
  padding-left: 20px;
  color: green;
  margin-right: 10px;
  padding-top: 0px;
}

canvas {
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}

.crisp-edges {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

ol li{
  margin-left: 15px;
}

.menu-list a{
  padding: 0.25em 0.75em;
}

.menu-list a:hover {
  background-color: white;
  color: black;
}

.sidemenu-label {
  margin: 5px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3px;
}

.research-links li{
  min-width: 200px;
}

.armors {
  min-width: 600px;
}
.armor {
  pointer-events: none;
  position: relative;
}
.armor-layer {
  position: absolute;
  top: -30px;
  left: 0px;
}
.armor-variant {
  left: 40px;
  position: absolute;
  opacity: 0.5;
  font-size: small;
}
.armor-column{
  margin: 0px 5px;
}

audio{
  height:20px;
  width:300px;
}

.attacks-table{
  margin: 3px;
}

.attacks-table td{
  border: solid 0.3px  #141d3d;
  /* #382C44 */
  font-size: 14pt;
}
.attacks-table thead{
  background: #141d3d;
  /* #382C44 */
}


.btn-hover-effect {
  display: flex;
  font-size: 18px;
  color: #fff;
  line-height: 1;
  background-color: black;
  font-family: inherit;
  border: solid 1px rgba(255, 255, 255, 0.2);
  margin: 5px;
}

/* effects styles !!!YOU NEED THEM */
/* don't forget to add your own background-color and text color */
.btn-hover-effect {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  display: flex;
  align-items: center;
  padding: 7px 30px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  text-decoration: none;
  overflow: hidden;
}


.btn-hover-effect--effect-1:before {
  position: absolute;
  top: 0;
  left: 0;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  z-index: -1;
}
.btn-hover-effect--effect-1:after {
  position: absolute;
  top: 1px;
  right: -40px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40px;
  content: '>';
  font-family: inherit;
  line-height: inherit;
  padding-bottom: 5px;
  opacity: 0;
}
.btn-hover-effect--effect-1:hover {
  padding-left: 26px;
  padding-right: 46px;
}
.btn-hover-effect--effect-1:hover:before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.btn-hover-effect--effect-1:hover:after {
  right: 0;
  opacity: 1;
}

button{
  cursor: pointer;
  background: black;
  color: white;
  border: solid 1px gray;
}

:focus{
  outline-color: white;  
}

.tight{
  column-gap: 0em;
}

.tight img{
  display: block;
  margin: 0px;
}

.links-page-header {
  text-align: center;
  color: #66ffff;
  background: #281c34;
  padding: 2px;
}

.links-page-button{
  position: relative;  
  top: -33px;
  text-align: center;
  height: 0px;
}

.side-sort-button{
  position: relative;  
  left: -60px; 
  top: 19px;
  height: 0px; 
}

.quote {
 /* background-color: #363636; */
  color: #fff;
  font-size: 1em;
  overflow-x: auto;
  padding: 0.5rem 1rem;
  border-left: 2px solid #fff; /* Параметры линии */ 
  margin-left: 20px; /* Отступ слева */
  padding-left: 10px; /* Расстояние от линии до текста */ 
}
.qsign {
  padding-left: 60px;
  padding-bottom: 12px;
}

.changelog {
  background-color: #141d3d;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  padding-left: 16px; /* Расстояние от линии до текста */ 
}

.changelog ul { 
  list-style-type: disc;
}

.imgcol {
  background-color: #141d3d;
  padding: 10px;
  padding-bottom: 0;
  border-radius: 5px;
}

.imgbox{
  margin-bottom: 5px;
}

.downloadbtn {
  background-color: #23d160;
  border: none;
  color: white;
  width:100%;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
.downloadbtn:hover {
  background-color: RoyalBlue;
}

.watchbtn{
  /* background-color: #c72127;
  border: none; */
  /* border: 1px solid #c22; */
  border: 2px solid #505874;
  /* background-color: transparent; */
  background-color: #505874;
  color: white;
  /* width:40%; */
  padding: 0px 10px 0px 10px;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  /* margin-bottom: 10px;
  margin-top: 10px; */
  border-radius: 5px;
  width: 279px;
}

.watchbtn:hover {
  background-color: transparent;
  border: 2px solid #505874;
}

.watchbtnicon {
  max-width: 40px;
  margin-right: 5px;
}


.dropbtn {
  color: white;
  padding: 12px;
  padding-top: 0px; 
  padding-bottom: 0px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 52px; 
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
  border-radius: 0px;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-divider{
  margin: 0px;
  background-color: #919191;
}

.sidebar::-webkit-scrollbar-track
{
/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background:#141d3d;
}

.sidebar::-webkit-scrollbar
{
  width: 10px;
/* background-color: #F5F5F5; */
}

.sidebar::-webkit-scrollbar-thumb
{
  background-color:#0b1124;
  border-radius: 5px;
}

.video {
  padding-top: 16px;
  padding-bottom: 16px;
}
.media-bar {
  text-align: center;
}

.media-icon {
  max-width: 48px;
  margin-left: 16px;
  margin-right: 16px;
}

.donations {
  display: flex;
  justify-content: space-between;
  vertical-align: top;
}

.donate {
  flex: 1;
  padding: 10px;
  cursor:pointer;
  text-align: center;

}

.donate:hover {
  background-color: #57618a;
  border-radius: 10px;
}

.tips:hover {
  background-color: #25315a;
  cursor: auto;
}

.tips-options {
  display: flex;
  justify-content: space-between;
  vertical-align: center;
}

.tip-option {
  padding-top: 10px;
  flex: 1;
  cursor:pointer;
  text-align: center;
}

.tip-option:hover {
  background-color: #57618a;
  border-radius: 10px;
}

.donate-icon {
  max-width: 84px;
  margin-left: 16px;
  margin-right: 16px;
}

/*.donatedescription:hover {*/
  /*!*text-align: center;*!*/
  /*background-color: #57618a;*/
  /*border-radius: 10px;*/
  /*padding: 10px;*/
/*}*/

.man {
  color: #17ff91;
}

.watchdiv {
  display: flex;
  text-align: center;
  vertical-align: center;
}

.watchyoutube {
  flex: 1;
}

.hellyeahcolumn {
  vertical-align: center;
  align-content: center;
}